<div class="header-top">
  <form action="" class="search-box">
    <i class="fas fa-search"></i>
    <input
      type="text"
      name="keyword"
      id="keyword"
      class="search-input"
      placeholder="Search for game ..."
      autocomplete="off"
    />
  </form>
  <div class="fitur">
    <a
      href="https://api.whatsapp.com/send?phone=6281276049584"
      class="far fa-comment-alt-lines"
    ></a>
    <a href="./page/keranjang.html" class="far fa-shopping-cart"></a>
  </div>
</div>
<div class="header-bottom">
  <div id="account">
    <div class="account-name">Hi, Friends</div>
    <i class="fas fa-angle-down" style="font-size: 14px"></i>
  </div>
  <ul class="dropbox">
    <li>
      <a href="" class="far fa-user"><span>Profile</span> </a>
    </li>
    <li
      style="border-bottom: 1px solid rgb(218, 226, 237); margin: 0 1rem"
    ></li>
    <li id="logOut">
      <a href="/backup/logout.php" class="far fa-sign-out"
        ><span>Logout</span>
      </a>
    </li>
  </ul>
  <div class="top-up">
    <i class="far fa-usd-circle"></i>
  </div>
</div>
<div id="menuLink" class="header-navigasi" style="height: 40px">
  <ul>
    <li class="item-link">
      <a href="#" class="link-head">
        <i class="far fa-newspaper"></i>
        Artikel & Berita</a
      >
    </li>
    <li class="item-link">
      <a href="#" class="link-head">
        <i class="far fa-user-headset"></i>
        Layanan</a
      >
    </li>
    <li class="item-link">
      <a href="#" class="link-head">
        <i class="far fa-lightbulb"></i>
        Tips & Trick</a
      >
    </li>
    <li class="item-link">
      <a href="#" class="link-head">
        <i class="far fa-comments-alt"></i>
        FAQ</a
      >
    </li>
    <li class="item-link">
      <a href="#" class="link-head">
        <i class="far fa-question-circle"></i>
        Tentang saya</a
      >
    </li>
  </ul>
</div>
