<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App G-Task Audy</title>
    <link rel="stylesheet" href="/assets/css/all.css" />
    <link rel="stylesheet" href="sidedbar.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <!-- Blueprint html -->
  <body>
    <div class="wrapper">
      <!-- sidebar -->
      <div id="sidebar">
        <div class="side-head">
          <div class="container">
            <div class="profile-image">
              <img
                src="https://as1.ftcdn.net/v2/jpg/01/89/68/88/1000_F_189688831_651W1hkIJU6l56akEBMrlI9cS2TzOyJL.jpg"
                alt="image-profile"
                width="40px"
                height="40px"
              />
            </div>
            <span class="name-profile">
              <label for="Good Day">Good Day &#128075</label><br />
              Audy A.V
            </span>
          </div>
        </div>
        <div class="side-body">
          <span class="label">Menu</span>
          <ul class="list-menu">
            <li class="item-menu">
                <span class="iconify" data-icon="ic:round-dashboard-customize"></span>
                <span>Dashboard</span>
            </li>
             <li class="item-menu">
                <span class="iconify" data-icon="bi:folder-check"></span>
                <span>My Projects</span>
            </li>
               <li class="item-menu">
                <span class="iconify" data-icon="akar-icons:calendar"></span>
                <span>Calendar</span>
            </li>
            </li>
               <li class="item-menu">
                <span class="iconify" data-icon="cil:wallet"></span>
                <span>Salary</span>
            </li>
          </ul>

          <div class="divider-m"></div>
          <span class="label">Service</span>
          <ul class="list-menu">
            <li class="item-menu">
                <span class="iconify" data-icon="fluent:task-list-add-24-regular"></span>
                <span>Todo List</span>
            </li>
            </li>
               <li class="item-menu">
                <span class="iconify" data-icon="cil:wallet"></span>
                <span>Salary</span>
            </li>
          </ul>
          <div class="divider-m"></div>
          <span class="label">Others</span>
          <ul class="list-menu">
            <li class="item-menu">
                <span class="iconify" data-icon="clarity:cog-line"></span>
                <span>Settings</span>
            </li>
          </ul>
        </div>
        <div class="side-footer"></div>
      </div>
      <div class="advert">
         <div class="item-advert">
          <span class="iconify" data-icon="bi:share"></span>
          <span>Share</span>
        </div>
        <div class="item-advert">
          <span class="iconify" data-icon="carbon:media-cast"></span>
          <span>Sosial media</span>
        </div>
      </div>
    </div>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  </body>
</html>
