<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/all.css" />
    <link rel="stylesheet" href="card.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- Template -->
      <div class="card" style="margin: auto; min-width: 250px">
        <div class="card-body">
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
          >
            <span>Reseacrh</span
            ><span class="iconify" data-icon="dashicons:ellipsis"></span>
          </div>
          <h2>User Interview</h2>
          <div
            style="
              font-size: 0.8rem;
              display: flex;
              align-items: center;
              gap: 8px;
            "
          >
            <span class="iconify" data-icon="bytesize:flag"></span>
            <span>LOW</span>
          </div>
        </div>
        <div class="card-footer">
          <span class="iconify" data-icon="akar-icons:clock"></span>
          <span>10.42 AM - Mention</span>
          <span class="iconify" data-icon="fa6-solid:angle-down"></span>
        </div>
      </div>
      <!-- End -->
    </div>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  </body>
</html>
