<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App G-Task Audy</title>
    <link rel="stylesheet" href="/assets/css/all.css" />
    <link rel="stylesheet" href="tablink.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <!-- Blueprint html -->
  <body>
    <div class="wrapper">
      <div id="tab">
        <ul class="tab-link">
          <li class="item-link"><a href="#">Tasks (24)</a></li>
          <li class="item-link"><a href="#">Primary Pos (5)</a></li>
          <li class="item-link"><a href="#">Secondary Pos (3)</a></li>
          <li class="item-link"><a href="#">Investasi / Tabungan</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
