<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App G-Task Audy</title>
    <link rel="stylesheet" href="/assets/css/all.css" />
    <link rel="stylesheet" href="navbar.css" />
    <link rel="stylesheet" href="/components/sidebar/sidedbar.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="wrapper">
      <div id="sidebar">
        <div class="side-head">
          <div class="container"></div>
        </div>
      </div>
      <!-- Wrap -->
      <div class="wrap">
        <!-- Advertisement -->
        <div class="advert"></div>
        <div id="navbar">
          <div class="container">
            <span
              id="btn-bars"
              class="iconify"
              data-icon="fa6-solid:bars"
              style="font-size: 18px"
            ></span>
            <form action="" class="form-search">
              <div class="form-group">
                <span class="iconify" data-icon="akar-icons:search"></span>
                <input type="text" placeholder="Search tasks..." />
              </div>
            </form>
          </div>
          <div class="container notify">
            <span
              class="iconify"
              data-icon="ep:bell"
              style="font-size: 22px"
            ></span>
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
  </body>
</html>
