<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App G-Task Audy</title>
    <link rel="stylesheet" href="/assets/css/all.css" />
    <link rel="stylesheet" href="breadcumb.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <ul class="breadcumb">
      <li class="item-link">
        <a href="#">DASHBOARD</a>
      </li>
      <li class="item-link">
        <a href="#">APPS</a>
      </li>
      <li class="item-link">
        <a href="#">MOVE APP</a>
      </li>
    </ul>
  </body>
</html>
