<h3>Ikuti Saya</h3>
<ul class="btn-sosmed">
  <li class="item-btn">
    <img src="https://cdn-icons-png.flaticon.com/512/2504/2504903.png" alt="facebook" width="30px" />
  </li>
  <li class="item-btn">
    <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="instagram" width="30px" />
  </li>
  <li class="item-btn">
    <img src="https://cdn-icons-png.flaticon.com/512/3938/3938028.png" alt="twitter" width="30px" />
  </li>
  <li class="item-btn">
    <img src="https://cdn-icons-png.flaticon.com/512/3938/3938026.png" alt="instagram" width="30px" />
  </li>
</ul>
<!-- Kontak saya -->
<h3>Kontak Saya</h3>
<div class="kontak">
  <span><i class="fas fa-phone"></i> Telp: (+62) 823 6540 5801</span>
  <span><i class="fas fa-envelope"></i> Email: Audialfasha@gmail.com</span>
</div>
<!-- Hak Cipta -->
<div class="copyright">
  <span>© 2019-2021 All Right Reserved.</span>
</div>